/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    margin: 0;
    background-color: #fafafa;
}
.titulo{
    font-family: 'Open Sans', sans-serif;
    color: #4078c0;
    text-align: center;
    font-weight: bold
}
.row{
    margin-top: 20px;
}
